* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: fit-content;
  min-height: fit-content;
}

body {
  font-size: 24px;
  font-family: sans-serif;
  line-height: 30px;

  color: white;
  background-color: black;

  height: 100%;
  min-width: fit-content;
  min-height: fit-content;

  margin: 0;
  padding: 12px;
}

.hidden {
  display: none !important;
}

button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  color: inherit;
  background: none;

  border: 1px solid white;
  border-radius: 6px;

  padding: 12px 18px;
}

button:hover {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  min-width: fit-content;
  min-height: fit-content;
}

#connecting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  white-space: nowrap;
}

.fa-spinner {
  font-size: 60px;
}

#game {
  display: flex;
  flex-direction: column;
  gap: 36px;

  min-width: 300px;
}

#clock-state {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.clock-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.clocks {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;

  border: 1px solid white;
  border-radius: 6px;
  padding: 18px 36px;

  width: 100%;
  min-width: fit-content;
  white-space: nowrap;
}

.clock.paused {
  background-color: goldenrod;
}

.clock.running {
  background-color: crimson;
}

.clock:hover {
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
}

.clock-button {
  min-width: 65px;
}

@keyframes alert {
  0% {
    background-color: black;
  }
  100% {
    background-color: crimson;
  }
}

.alert {
  animation-name: alert;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.dice-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
}

.dice {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 64px;
}

.dice.faded {
  opacity: 0.3;
}

.die-wrapper {
  position: relative;
}

.red-die {
  color: crimson;
}

.red-die-background {
  background-color: gold;
}

.yellow-die {
  color: gold;
}

.yellow-die-background {
  background-color: crimson;
}

.red-die-background,
.yellow-die-background {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  z-index: -1;
}

.event-die {
  width: 55px;
  height: 55px;
  margin-bottom: 5px;
}

.create-clock {
  display: flex;
  flex-direction: column;
  gap: 24px;

  white-space: nowrap;
}

input {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  color: inherit;
  background: none;

  border: 1px solid white;
  border-radius: 6px;

  padding: 12px;
}

input,
*[contenteditable] {
  outline: none;
}

.player-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.player-input label {
  align-self: center;
}

#player-input {
  border: 1px solid white;
  border-radius: 6px;
  padding: 12px;
  margin: 0;
  min-height: 146px;
}

.time-inputs {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  column-gap: 12px;
  row-gap: 24px;

  align-self: center;
}

.time-inputs label {
  justify-self: end;
}

.time-input {
  width: 66px;
  text-align: center;
}

.screen-lock {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 6px;
}

#screen-unlocked {
  color: red;
}
