*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: fit-content;
  min-height: fit-content;
}

body {
  font-size: 24px;
  font-family: sans-serif;
  line-height: 30px;

  color: white;
  background-color: black;

  height: 100%;
  min-width: fit-content;
  min-height: fit-content;

  margin: 0;
  padding: 15px;
}

.hidden {
  display: none !important;
}

button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  color: inherit;
  background: none;

  border: 1px solid white;
  border-radius: 6px;

  padding: 12px 18px;
}

button:hover {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  min-width: fit-content;
  min-height: fit-content;
}

#connecting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  white-space: nowrap;
}

.fa-spinner {
  font-size: 60px;
}

#game {
  display: flex;
  flex-direction: column;
  gap: 36px;
  min-width: 350px;
  white-space: nowrap;
}

#clock-state {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.clock-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.clocks {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;

  border: 1px solid white;
  border-radius: 6px;
  padding: 18px 36px;

  width: 100%;
  min-width: fit-content;
}

.clock.paused {
  background-color: goldenrod;
}

.clock.running {
  background-color: crimson;
}

.clock:hover {
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
}

.clock-button {
  min-width: 65px;
}

@keyframes alert {
  0% {
    background-color: black;
  }
  50% {
    background-color: firebrick;
  }
  100% {
    background-color: black;
  }
}

.alert {
  animation-name: alert;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#dice-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
}

#dice-section:empty {
  display: none;
}

.dice {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 64px;
}

.faded {
  opacity: 0.3;
}

@keyframes bounce {
  0% {
    translate: 0 0;
  }
  25% {
    translate: 0 15%;
  }
  50% {
    translate: 0 0;
  }
  75% {
    translate: 0 -15%;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 720deg;
  }
}

.dice-roll {
  animation-name: bounce, spin;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.die-wrapper {
  position: relative;
}

.red-die {
  color: crimson;
}

.red-die-background {
  background-color: gold;
}

.yellow-die {
  color: gold;
}

.yellow-die-background {
  background-color: crimson;
}

.red-die-background,
.yellow-die-background {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  z-index: -1;
}

.event-die {
  margin-bottom: 5px;
}

.dice .event-die {
  width: 55px;
  height: 55px;
}

.activate-event-die-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.activate-event-die-button .event-die {
  width: 45px;
  height: 45px;
}

.activate-event-die-button .dice-roll {
  animation-name: spin;
}

.barbarian-countdown {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 40px;
}

.barbarian-countdown .event-die {
  width: 45px;
  height: 45px;
}

.barbarian-attack {
  color: crimson;
}

.create-clock {
  display: flex;
  flex-direction: column;
  gap: 24px;

  white-space: nowrap;
}

input {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  color: inherit;
  background: none;

  border: 1px solid white;
  border-radius: 6px;

  padding: 12px;
}

input,
*[contenteditable] {
  outline: none;
}

.player-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.player-input label {
  align-self: center;
}

#player-input {
  border: 1px solid white;
  border-radius: 6px;
  padding: 12px;
  margin: 0;
  min-height: 146px;
}

.time-inputs {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  column-gap: 12px;
  row-gap: 24px;

  align-self: center;
}

.time-inputs label {
  justify-self: end;
}

.time-input {
  width: 66px;
  text-align: center;
}

#dice-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  white-space: nowrap;
  position: relative;
}

@media (min-width: 787px) {
  #dice-history {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
}

#dice-back-button {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 3px;
}

.dice-breakdown,
#dice-history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#dice-history-section:empty {
  display: none;
}

.dice-history-log {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 24px;
  row-gap: 12px;
}

.dice-history-entry {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
}

.dice-history-turn {
  justify-self: end;
}

.table {
  display: grid;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.table-4 {
  grid-template-columns: repeat(4, min-content);
}

.table-body,
.table-row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.table-cell {
  height: 100%;
  padding: 3px 6px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  white-space: nowrap;
}

.screen-lock {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 6px;
}

#screen-unlocked {
  color: red;
}
